html {
    min-height: 100%;
  }


/* text */

body {
    font-family: 'Lora';
    font-size: 4vw;
    text-align: center;
}

h1 {
    font-family: 'League Gothic';
    font-size: 15vw;
    margin-top: 30;
    margin-bottom: 5;
}

#dateLabel {
  font-family: 'League Gothic';
  font-style: bold;
  font-size: 6vw;
}

/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {
  height: 100vh;
}

.vizcol {
  padding-top: 10;
  height: 40%;
  background-color: white;
}

.textbar {
  display: block;
  height: 30%;
}

#viz {
  width: 100%; 
  position: relative;
}

/* slider */

.stringencyContainer {
  width: 95%;
  padding: 5%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: url(assets/test_arrow-02-02.svg) center center no-repeat;
  cursor: pointer;
  width: 25px;
  height: 25px;
}

#stringencysvg {
  height: 30px;
  padding-left: 5%;
  /* margin: 0 auto; */
}

@media only screen and (min-width : 480px) {

.row.content {
  height: 100vh;
  margin-top: 0;
}


.textbar {
  display: block;
  height: 100%;
}

#vizdiv {
  display: block;
  margin-top: 0;
}


body {
    font-family: 'Lora';
    font-size: 1.25vw;
    text-align: left;
}

h1 {
    font-family: 'League Gothic';
    font-size: 6vw;
    margin-top: 30%;
}

#dateLabel {
  font-family: 'League Gothic';
  font-style: bold;
  font-size: 2vw;;
}

.labels {
  font-size: 10px;
}

}
